header .header_top{
	height: 35px;
	background-color: #f5f5f5;
}
header .t_conter{
	margin: 0 auto;
	width: 1190px;
	height:35px;
}
header .header_top .t_conter .left{
	height: 35px;
	overflow: hidden;
	float: left;
}
header .header_top .t_conter .left li{
	height: 35px;
	width: 73px;
	text-align: center;
	line-height: 35px;
	float: left;
}
header .header_top .t_conter .right{
	height: 35px;
	overflow: hidden;
	float: right;
}
header .header_top .t_conter .right li{
	height: 35px;
	width: 87px;
	text-align: center;
	line-height: 35px;
	float: left;
}
header .header_bottom{
	height: 257px;
	background-image: url(../img/saleheadbg.png);
	background-color: #49678F;
	background-repeat: no-repeat;
	background-size: cover;
}
header .header_bottom .hb_top{
	width: 900px;
	box-sizing: border-box;
	padding-top: 25px;
	margin: 0 auto;
	overflow: hidden;
}
header .header_bottom .hb_top .hbt_logoimg{
	float: left;
	height: 33px;
	width: 130px;
	margin-top: 8px;
}
header .header_bottom .hb_top .hbt_logoimg img{
	width: 100%;
	height: 100%;
}
header .header_bottom .hb_top span{
	height: 38px;
	border:1px solid #fff;
	margin: 0px 15px;
	float: left;
}
header .header_bottom .hb_top .hbt_fuwuzhongxinimg{
	width: 162px;
	height: 42,25px;
	float: left;
}
header .header_bottom .hb_top .hbt_fuwuzhongxinimg img{
	height: 100%;
	width: 100%;
}
header .header_bottom .hb_top .hbt_bangzhu{
	float: left;
	margin-left: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	margin-top: 20px;
}
header .header_bottom .hb_bottom{
	width: 700px;
	margin: 0 auto;
	height: 228px;
	text-align:center;
}
header .header_bottom .hb_bottom .hbb_3{
	width: 208px;
	height: 208px;
	margin: 20px 20px 0px 0px;
	background-color: #fff;
	border-radius: 5px;
	float: left;
	box-shadow:0 1px 6px hsla(0,0%,39%,.2);
}
header .header_bottom .hb_bottom .hbb_3 img{
	height: 94px;
	width: 99px;
	margin: 20px auto 20px auto;
}
header .header_bottom .hb_bottom .hbb_3 h1{
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
header .header_bottom .hb_bottom .hbb_3 p{
	font-size: 10px;
	line-height: 20px;
	text-align:center;
	color: #aaa;
}
section{
	padding: 66px 0px 30px 0px;
	background-color: #EEEEEE;
}
section .sousuozhishi{
	line-height: 50px;
	text-align: center;
	font-size: 15px;
}
section .s_zhishisousuokuang{
	height: 71px;
	width: 700px;
	margin: 0 auto;
}
section .s_zhishisousuokuang form{
	height: 43px;
	width: 600px;
	border-top-right-radius: 41.5px;
	border-bottom-right-radius: 41.5px;
	border-top-left-radius: 41.5px;
	border:1px solid #ccc;
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
}
section .s_zhishisousuokuang form input{
	height: 43px;
	border:0px;
	width: 510px;
	box-sizing: border-box;
	margin-left: 20px;
	float: left;
}
section .s_zhishisousuokuang form button{
	box-sizing: border-box;
	border: 0px;
	height: 43px;
	float: left;
	width: 70px;
	background-color: #57A4FF;
	color: #fff;
}
section .s_zhishisousuokuang .tishi{
	height: 30px;
	margin-left: 50px;
}
section .s_zhishisousuokuang .tishi a{
	display: block;
	float: left;
	text-decoration: none;
	color: #333;
	margin-left: 15px;
	margin-top: 10px;
}
section .s_changyonggongju{
	padding-top: 50px;
	padding-bottom: 50px;
}
section .s_changyonggongju p{
	text-align: center;
	font-size: 15px;
	line-height: 30px;
}
section .s_changyonggongju .s_changyonggongju1{
	width: 810px;
	height: 127px;
	margin: 0 auto;
}
section .s_changyonggongju .s_changyonggongju1 a{
	display: block;
	float: left;
	width: 74px;
	height: 127px;
	margin-left: 110px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}
section .s_changyonggongju .s_changyonggongju2{
	width: 810px;
	height: 127px;
	margin: 0 auto;
}
section .s_changyonggongju .s_changyonggongju2 .s_fuwujilu{
	margin: 0;
}
section .s_changyonggongju .s_changyonggongju2 a{
	display: block;
	float: left;
	width: 74px;
	height: 127px;
	margin-left: 110px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}
section .s_changyonggongju .s_changyonggongju1 .s_zhanghuzhaunqu{
	margin: 0;
}
section .s_changyonggongju a div{
	height: 74px;
	width: 74px;
	box-sizing: border-box;
	border:1px solid #57A4FF;
	border-radius: 50%;
	background-color: #fff;
}
section .s_changyonggongju a div img{
	margin: 15px auto;
}
section .s_changyonggongju a span{
	line-height: 50px;
}
section .s_shequ{
	background-color: #F7F7F7;
	padding-bottom: 50px;
}
section .s_shequ .ss_shequremenwenti{
	text-align: center;
	color:#333;
	line-height: 70px;
	font-size: 15px;
}
section .s_shequ .ss_wenticonter{
	width: 898px;
	margin: 20px auto;
	overflow: hidden;
	padding-bottom: 20px;
}
section .s_shequ .ss_wenticonter .ssc_question{
	width: 244px;
	height: 120px;
	padding: 22px 18px 18px 18px;
	background-color: #fff;
	border-radius: 5px;
	margin:0px 9px 0px 9px;
	float: left;
	box-shadow:0 1px 6px hsla(0,0%,39%,.2);
}
section .s_shequ .ss_wenticonter .ssc_question p{
	font-size: 10px;
}
section .s_shequ .ss_wenticonter .ssc_question .bottom{
	margin-top:66px; 
	height:42px;
}
section .s_shequ .ss_wenticonter .ssc_question .bottom div{
	float: left;
	height: 42px;
	width: 42px;
	border-radius: 50%;
	overflow: hidden;
}
section .s_shequ .ss_wenticonter .ssc_question .bottom div img{
	height: 100%;
	width: 100%;
}
section .s_shequ .ss_wenticonter .ssc_question .bottom span{
	float: right;
	line-height: 42px;
	color: #aaa;
}
section .s_shequ .ss_shequremenyouxiugongxianzhe{
	line-height: 70px;
	text-align: center;
	font-size: 15px;
	color: #333;
}
section .s_shequ .ss_gongxianzheconter{
	width: 784px;
	overflow: hidden;
	margin: 0 auto;
}
section .s_shequ .ss_gongxianzheconter a{
	height: 137px;
	width: 104px;
	margin: 0px 40px 0px 40px;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	color: #999;
}
section .s_shequ .ss_gongxianzheconter a div{
	width: 98px;
	border-radius: 50%;
	height: 98px;
	border:4px solid #ccc;
	overflow: hidden;
}
section .s_shequ .ss_qushequtiwen{
	height: 60px;
	width: 220px;
	border-radius: 60px;
	text-align: center;
	line-height: 60px;
	background-color: #57A4FF;
	color: #fff;
	margin: 50px auto 0px auto;
	display: block;
	text-decoration: none;
	font-size: 17px;
}
section .s_shequ .ss_fuwushichang{
	width: 784px;
	margin: 50px auto 0px auto;
}
section .s_shequ .ss_fuwushichang .ssf_conter{
	width: 784px;
	overflow: hidden;
}
section .s_shequ .ss_fuwushichang h1{
	text-align: center;
	line-height: 50px;
	font-size: 15px;
}
section .s_shequ .ss_fuwushichang .ssf_conter a{
	width: 104px;
	margin: 0px 40px 0px 40px;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
}
section .s_shequ .ss_fuwushichang .ssf_conter a h2{
	font-size: 12px;
	color:#333;
	text-align: center;
	line-height: 30px;
}
section .s_shequ .ss_fuwushichang .ssf_conter a span{
	line-height: 20px;
	color: #ccc;
	text-align: center;
}
section .s_shequ .ss_fuwushichang .ssf_conter a div{
	width: 98px;
	border-radius: 50%;
	height: 98px;
	border:4px solid #ccc;
	overflow: hidden;
}
section .s_shequ .ss_fuwushichang .ssf_conter a div img{
	height: 100%;
	width: 100%;
}
section .s_shequ .ss_qufabuxuqiu{
	height: 60px;
	width: 220px;
	border-radius: 60px;
	text-align: center;
	line-height: 60px;
	background-color: #57A4FF;
	color: #fff;
	margin: 50px auto 0px auto;
	display: block;
	text-decoration: none;
	font-size: 17px;
}
section .s_bottom{
	background-color: #57A4FF;
	text-align: center;
	padding: 30px 0px 20px 0px;
	height: 160px;
}
section .s_bottom .changjianzhishi{
	width: 370px;
	display: inline-block;
	margin-right: 280px;
}
section .s_bottom .changjianzhishi h1{
	color: #fff;
	font-size: 15px;
	line-height: 50px;
}
section .s_bottom .changjianzhishi a{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
}
section .s_bottom .zuixingonggao{
	width: 370px;
	display: inline-block;
}
section .s_bottom .zuixingonggao h1{
	color: #fff;
	font-size: 15px;
	line-height: 50px;
}
section .s_bottom .zuixingonggao a{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
}
footer{
	height: 274.73px;
	background-color: #fff;
}
footer .footer_main1{
	height: 71px;
	box-sizing: border-box;
	width: 1190px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}
footer span{
	line-height: 35px;
	margin-left: 5px;
	margin-right: 5px;
}
footer b{
	line-height: 35px;
}
footer .footer_main2{
	width: 1190px;
	margin: 0 auto;
	height: 106.73px;
}
footer .footer_main3{
	width: 1190px;
	margin: 0 auto;
	height: 80px;
}